.containerHeader {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-family: 'League Spartan', sans-serif;
    font-size: 30;
    
}

.logo > h1 > a {
    text-decoration: none;
    
    color: #FFF;
}

.containerOpcoes {
    width: 40vw;
}

.containerLista {
    display: flex;
    justify-content: space-around;

    padding-top: 8px;
}

.containerLista > li, 
.containerLista > li > a {
    list-style: none;
    text-decoration: none;

    color: #FFF;
}
